In [2]:
# Extraction
# Read customer data from CSV file

In [3]:
# Read product inventory data from Excel file

In [5]:
# Fetch product sales data from the provided API URL

In [6]:
meaning_files_folder= 'your path'

In [7]:
# Read meaning files from the folder

In [8]:
# Transformation
# Merge customer data with product sales data
merged_data = pd.merge(customer_data, sales_data, left_on='customer_id', right_on='userId')

In [9]:
#Merge the Customer data and the data from the api --> Use customer id and userid
#Create a schema  called ETL_ASSIGNMENT_Q2
#create a table called "productSales" load the merged file
#Create a table called "Inventory" and load the inventory data
#Create a table called "Meaning" and load the meaning data. Include and ID field with an auto increament of 1

In [10]:
#Hint
merged_data.head()

,customer_id,name,email,phone,address,userId,id,title,body
0,1,Customer_1,customer1@example.com,555-001-1234,"Address_1, City",1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,Customer_1,customer1@example.com,555-001-1234,"Address_1, City",1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,Customer_1,customer1@example.com,555-001-1234,"Address_1, City",1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,Customer_1,customer1@example.com,555-001-1234,"Address_1, City",1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,Customer_1,customer1@example.com,555-001-1234,"Address_1, City",1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...